body{
  background-color: grey;
}


#plateau{
  width: 800px;
  height:800px;
  background-color: white;
  margin: auto;
  border-style: solid;
  position: relative;
}
#pion{
  width: 39px;
  height: 39px;
  background-color: blue;
  border-style: double;
  border-color: grey;
  border-width: 1px;
  position: absolute;
}
